@import 'feta';
@import 'reset';
@import '_ai2html';



div {
	//outline: 1px solid blue;
}

.map-holder {
	position: relative;
}

#map-base {
	position: relative;
}

#map-2015 {
	position: relative;
}

#map-2017 {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}


.year-map {
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}



